BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 140
PointerAlignment: Left           # int* p, not int *p
# BreakBeforeTernaryOperators: true
# AlignOperands: Align
AllowShortFunctionsOnASingleLine: Inline
SortIncludes: CaseInsensitive
MaxEmptyLinesToKeep: 2
IncludeBlocks: Merge
IncludeCategories:
  - Regex: '^"openfhe'           # OpenFHE
    Priority: 2
  - Regex: '^"'                  # your project headers first
    Priority: 1
  - Regex: '^<.*\.h>'            # C headers
    Priority: 3
  - Regex: '^<.*>'               # C++ stdlib
    Priority: 4