[submodule "vendors/openfhe-development"]
	path = vendors/openfhe-development
	url = https://github.com/openfheorg/openfhe-development
[submodule "vendors/lattice-estimator"]
	path = vendors/lattice-estimator
	url = https://github.com/malb/lattice-estimator
