[submodule "vendors/openfhe-development"]
	path = vendors/openfhe-development
	url = https://github.com/openfheorg/openfhe-development
[submodule "docs/latex"]
	path = docs/latex
	url = git@github.com:ImreAngelo/Thesis.git
