[submodule "vendors/openfhe-development"]
	path = vendors/openfhe-development
	url = https://github.com/openfheorg/openfhe-development
[submodule "docs/latex"]
	path = docs/latex
	url = https://github.com/ImreAngelo/Thesis.git
[submodule "vendors/lattice-estimator"]
	path = vendors/lattice-estimator
	url = https://github.com/malb/lattice-estimator
